<!DOCTYPE html>
<html>
  <head>
    <title>IT231W1718 Depot W3CSS</title>
    
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <hr>
    <header style= "color:#9c8d88; font-family:Avenir; margin: auto; width: 50%; padding: 10px; text-align: center; font-size:30px; "> <%= image_tag 'Title2.png', alt: 'Title1', height: '140', width: '500', style: 'display: block; margin-left: auto; margin-right: auto; margin-bottom: none; margin-top: none' %></header>   
  <hr>
  
  <body class="w3-container">

    <div class="w3-bar w3-border" style ="background-color:#FAEBD7;">
      <a href="/" class="w3-bar-item w3-button w3-border"><%= image_tag 'giphy-downsized.gif', alt: 'The Mad Icon', height: '28', width: '28', style: 'display: block; margin-left: auto; margin-right: auto; margin-bottom: none; margin-top: none' %></a>
        <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
        <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
        
      <a href="/static_pages/home" class="w3-bar-item w3-button w3-border; margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:12px;">Home</a>
        <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
        <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
        <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
        <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
        <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
        <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
      <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
      
      <a href="/" class="w3-bar-item w3-button w3-border; margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:12px;">Root</a>
       <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
        <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
        <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
        <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
        <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
        <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
      
      <a href="/static_pages/help" class="w3-bar-item w3-button w3-border; margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:12px;">Help</a>
        <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
        <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
        <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
        <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
        <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
        <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
      
      <a href="/static_pages/about" class="w3-bar-item w3-button w3-border; margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:12px;">About</a>
        <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
        <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
        <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
        <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
        <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
        <li href="#" class="w3-bar-item  margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:20px;"></li>
      <a href="/products" class="w3-bar-item w3-button w3-border; margin: left; width: 50%; padding-right: 131px; padding-left: 131px; font-size:12px;">Manage Products</a>
      
    </div>
    
   <div class="w3-container">
    <%= yield %>
   </div>    

  </body>
</html>
